@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Montserrat:wght@700&display=swap');

:root {
    --headerFont: 'Montserrat', sans-serif;
    --textFont: 'JetBrains Mono', monospace;
    --fontColor: #FFFFF;
    --accentColorChange: #F24C4C;
    --accentColor: #3A98B9;

    /* Normal Size */
    --timronquillo: 4.1rem;
    --videoEditing: 4rem;
    --cooking: 2.1rem;
    --wordpress: 2.65rem;
    --graphics: 6.2rem;
    --streetLawyer: 2rem;
    --productPhotog: 2.5rem;
    --frontEnd: 5.6rem;
    --spreadSheet: 4.3rem;
    --sayHi: 7.9rem;

    /* Less than 380px */
    --scaleBelow380: .4;

    /* Less Than 850px Size */
    --scaleBelow850: 0.5;
    
     /* Less Than 1340px and greater than 851px Size */
     --scaleBelow1340: 0.7;

}



p {
    padding: 0;
    margin: 0;
    font-family: var(--textFont);
}

h1 {
    font-family: var(--headerFont);
}

ul {
    list-style: none;
    font-family: var(--headerFont);
    padding: 0;
}

li {
    line-height: .9;
}

ul:hover {
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--textFont);
}

#imAnIntrovert {
    opacity: 0;
    transition: opacity .5s ease-in 1.5s;
}


#about {
    transition: opacity .5s ease-in-out .5s;
    z-index: 2;
    opacity: 0;
}

*:hover {
    cursor: default;
}

#me {
    transition: opacity .5s ease-in-out;
    z-index: 1;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }
  
section {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

/* section:nth-of-type(1),
section:nth-of-type(2) {
   
} */

#pandasectionDown {
    z-index: 3;
    overflow: hidden;
}

#pandaDown {
    transition: transform 1.5s ease; 
    transform: translateY(100px);
    cursor: grab;
}

#pandaUpDiv {
    z-index: 5;
}
#pandaUp {
    transform: translateY(-50px);
    transition: transform 1.5s ease; 
    overflow: hidden;
    cursor: grab;
}

#pokeMe {
    animation: shake 1.5s;
    animation-iteration-count: infinite;
    visibility: hidden;
}


#blackPanda {
    /* position:absolute; */
    top: 0%;
    left: 70%;
    width: 100px;
    margin: 0 auto;
    position: absolute;
    transition: top .5s ease;
    visibility: hidden;
}


.contactContainer {
    text-align: center;
    position: relative;
}


.popup {
    border: 1px solid white;
    width: 500px;
    opacity: 0;
    position: relative;
    background-color: #eee;
    border-radius: 5px;
    z-index: 4;
    transform: translateY(-500px);
    transition: transform .5s ease-in-out, opacity .5s ease;
}

.popup.active {
    transform: translateY(0);
    opacity: 1;
}

.form-element {
    padding: 1rem;
    text-align: center;
}

.headerGetInTouch {
    text-align: center;
    margin-top: 3rem;
}

.getInTouch {
    color: #1B2430;
    font-family: var(--headerFont);
}

.popup input[type="text"],
.popup input[type="email"] {
    width: 90%;
    /* display: block; */
    padding: 10px 20px;
    cursor: text;
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: var(--textFont);
}

.popup textarea {
    width: 90%;
    /* height: 1rem; */
    outline: none;
    border: none;
    resize: none;
    border-radius: 10px;
    cursor: text;
    padding: 10px 20px;
    font-family: var(--textFont);
}

.close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    background: #ffffff;
    color: black;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
}

button {
    width: 90%;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    background-color: #282A3A;
    color: white;
    font-weight: 600;
    outline: none;
    border: none;
    margin-bottom: 2rem;
}

button:hover {
    background-color: #1B2430;
}










  
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}




/******************************* LIST ITEM *********************************/

/* tim ronquillo */
li:nth-child(1){
    font-size: var(--timronquillo);
    margin-bottom: 8px;
    color: var(--fontColor);
}

/* video editing */
li:nth-child(2){
    font-size: var(--videoEditing);
    color: var(--accentColor);
    transition: color .5s ease;
    margin-bottom: 5px;
}

/* cooking now */
li:nth-child(3){
    font-size: var(--cooking);
    color: var(--fontColor);
}

/* wordpress websites */
li:nth-child(4){
    font-size: var(--wordpress);
    color: var(--accentColor);
}

/* graphics */
li:nth-child(5){
    font-size: var(--graphics);
    color: var(--accentColor);
    margin-bottom: 15px;
}

/* re-reding book */
li:nth-child(6){
    font-size: var(--streetLawyer);
    color: var(--fontColor);
}

/* product photography */
li:nth-child(7){
    font-size: var(--productPhotog);
    color: var(--accentColor);
}

/* front-end */
li:nth-child(8){
    font-size: var(--frontEnd);
    color: var(--accentColor);
    margin-bottom: -8px;
}

/* spreadsheet */
li:nth-child(9){
    font-size: var(--spreadSheet);
    color: var(--accentColor);
}

/* say hi! */
li:nth-child(10){
    font-size: var(--sayHi);
    color: var(--fontColor);
    cursor: pointer;
}


@media only screen and (max-width: 1340px){

    /* tim ronquillo */
    li:nth-child(1){
       font-size: calc(var(--timronquillo) * var(--scaleBelow1340));
       margin-bottom: 5px;
   }
   
   /* video editing */
   li:nth-child(2){
       font-size: calc(var(--videoEditing) * var(--scaleBelow1340));
   }
   
   /* cooking now */
   li:nth-child(3){
       font-size: calc(var(--cooking) * var(--scaleBelow1340));
   }
   
   /* wordpress websites */
   li:nth-child(4){
       font-size: calc(var(--wordpress) * var(--scaleBelow1340));
   }
   
   /* graphics */
   li:nth-child(5){
       font-size: calc(var(--graphics) * var(--scaleBelow1340));
   }
   
   /* re-reding book */
   li:nth-child(6){
       font-size: calc(var(--streetLawyer) * var(--scaleBelow1340));
   }
   
   
   /* product photography */
   li:nth-child(7){
       font-size: calc(var(--productPhotog) * var(--scaleBelow1340));
   }
   
   /* front-end */
   li:nth-child(8){
       font-size: calc(var(--frontEnd) * var(--scaleBelow1340));
       margin-bottom: 1px;
   }
   
   /* spreadsheet */
   li:nth-child(9){
       font-size: calc(var(--spreadSheet) * var(--scaleBelow1340));
   }
   
   /* say hi! */
   li:nth-child(10){
       font-size: calc(var(--sayHi) * var(--scaleBelow1340));
   }

   .popup {
    width: 400px;
  }
  
   
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 957px) {
    /* tim ronquillo */
    li:nth-child(1){
      font-size: calc(var(--timronquillo) * var(--scaleBelow850));
  }
  
  /* video editing */
  li:nth-child(2){
      font-size: calc(var(--videoEditing) * var(--scaleBelow850));
  }
  
  /* cooking now */
  li:nth-child(3){
      font-size: calc(var(--cooking) * var(--scaleBelow850));
  }
  
  /* wordpress websites */
  li:nth-child(4){
      font-size: calc(var(--wordpress) * var(--scaleBelow850));

  }
  
  /* graphics */
  li:nth-child(5){
      font-size: calc(var(--graphics) * var(--scaleBelow850));
      margin-bottom: 10px;
  }
  
  /* re-reding book */
  li:nth-child(6){
      font-size: calc(var(--streetLawyer) * var(--scaleBelow850));
      margin-bottom: 5px;
  }
  
  
  /* product photography */
  li:nth-child(7){
      font-size: calc(var(--productPhotog) * var(--scaleBelow850));

  }
  
  /* front-end */
  li:nth-child(8){
      font-size: calc(var(--frontEnd) * var(--scaleBelow850));
  }
  
  /* spreadsheet */
  li:nth-child(9){
      font-size: calc(var(--spreadSheet) * var(--scaleBelow850));
  }
  
  /* say hi! */
  li:nth-child(10){
      font-size: calc(var(--sayHi) * var(--scaleBelow850));
  }

  #imAnIntrovert {
    font-size: 10px;
  }

  .popup {
    width: 300px;
  }
  
  #blackPanda {
    left: 60%;
  }
  
  }


@media (max-width: 800px){
    #about {
        flex-direction: column;
    }

    .container-fluid .text-center:nth-child(1){
        margin-bottom: 1.5rem;
    }

    .container-fluid .text-center h1:nth-child(1){
        margin-bottom: 0;
    }
}


@media only screen and (max-width: 380px){
        /* re-reding book */
        li:nth-child(6){
            font-size: calc(var(--streetLawyer) * var(--scaleBelow380));
        }
        
}