@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Montserrat:wght@700&display=swap');

:root {
    --headerFont: 'Montserrat', sans-serif;
    --textFont: 'JetBrains Mono', monospace;
    --fontColor: #FFFFF;
    --accentColorChange: #F24C4C;
    --accentColor: #3A98B9;

    /* Normal Size */
    --timronquillo: 4.1rem;
    --videoEditing: 4rem;
    --cooking: 2.05rem;
    --wordpress: 2.6rem;
    --graphics: 6rem;
    --streetLawyer: 2rem;
    --productPhotog: 2.35rem;
    --frontEnd: 5.4rem;
    --spreadSheet: 2.05rem;
    --sayHi: 7.5rem;

    /* Less Than 1320px Size */
    --scaleBelow600: 0.5;
    
    /* font-size: 40px; */
}


p {
    padding: 0;
    margin: 0;
    font-family: var(--textFont);
}

h1 {
    font-family: var(--headerFont);
}

ul {
    list-style: none;
    font-family: var(--headerFont);
    padding: 0;
}

li {
    line-height: .9;
}

ul:hover {
    cursor: default;
}


/* tim ronquillo */
li:nth-child(1){
    font-size: var(--timronquillo);
    margin-bottom: 8px;
    color: var(--fontColor);
}

/* video editing */
li:nth-child(2){
    font-size: var(--videoEditing);
    color: var(--accentColor);
    transition: color .5s ease;
}

/* cooking now */
li:nth-child(3){
    font-size: var(--cooking);
    color: var(--fontColor);
}

/* wordpress websites */
li:nth-child(4){
    font-size: var(--wordpress);
    color: var(--accentColor);
}

/* graphics */
li:nth-child(5){
    font-size: var(--graphics);
    color: var(--accentColor);
    margin-bottom: 10px;
}

/* re-reding book */
li:nth-child(6){
    font-size: var(--streetLawyer);
    color: var(--fontColor);
}

/* product photography */
li:nth-child(7){
    font-size: var(--productPhotog);
    color: var(--accentColor);
}

/* front-end */
li:nth-child(8){
    font-size: var(--frontEnd);
    color: var(--accentColor);
    margin-bottom: -8px;
}

/* spreadsheet */
li:nth-child(9){
    font-size: var(--spreadSheet);
    color: var(--accentColor);
}

/* say hi! */
li:nth-child(10){
    font-size: var(--sayHi);
    color: var(--fontColor);
}

a {
    text-decoration: none;
    color: var(--textFont);
}

#imAnIntrovert {
    /* font-size: 20px; */
    opacity: 0;
    transition: opacity .5s ease-in 1.5s;
}


#about {
    transition: opacity .5s ease-in-out .5s;
    z-index: 2;
    opacity: 0;
}

#me {
    transition: opacity .5s ease-in-out;
    z-index: 1;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }
  
section {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100;

}

#pandasectionDown {
    z-index: 3;
    overflow: hidden;
}

#pandaDown {
    transition: transform 1.5s ease; 
    transform: translateY(100px);
    /* display: none; */
}


@media (max-width: 800px){
    #about {
        flex-direction: column;
    }

    .container-fluid .text-center:nth-child(1){
        margin-bottom: 5rem;
    }

    .container-fluid .text-center h1:nth-child(1){
        margin-bottom: 0;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 850px) {
    /* tim ronquillo */
    li:nth-child(1){
      font-size: calc(var(--timronquillo) * var(--scaleBelow600));
      margin-bottom: 8px;
      color: var(--fontColor);
  }
  
  /* video editing */
  li:nth-child(2){
      font-size: calc(var(--videoEditing) * var(--scaleBelow600));
      color: var(--accentColor);
      transition: color .5s ease;
  }
  
  /* cooking now */
  li:nth-child(3){
      font-size: calc(var(--cooking) * var(--scaleBelow600));
      color: var(--fontColor);
  }
  
  /* wordpress websites */
  li:nth-child(4){
      font-size: calc(var(--wordpress) * var(--scaleBelow600));
      color: var(--accentColor);
  }
  
  /* graphics */
  li:nth-child(5){
      font-size: calc(var(--graphics) * var(--scaleBelow600));
      color: var(--accentColor);
      margin-bottom: 10px;
  }
  
  /* re-reding book */
  li:nth-child(6){
      font-size: calc(var(--streetLawyer) * var(--scaleBelow600));
      color: var(--fontColor);
  }
  
  
  /* product photography */
  li:nth-child(7){
      font-size: calc(var(--productPhotog) * var(--scaleBelow600));
      color: var(--accentColor);
  }
  
  /* front-end */
  li:nth-child(8){
      font-size: calc(var(--frontEnd) * var(--scaleBelow600));
      color: var(--accentColor);
      margin-bottom: -8px;
  }
  
  /* spreadsheet */
  li:nth-child(9){
      font-size: calc(var(--spreadSheet) * var(--scaleBelow600));
      color: var(--accentColor);
  }
  
  /* say hi! */
  li:nth-child(10){
      font-size: calc(var(--sayHi) * var(--scaleBelow600));
      color: var(--fontColor);
  }
  
  
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {background: blue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {background: pink;}
}